@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<div class="container" style="margin-top:30px;">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="/Client/Blog" class="stext-109 cl8 hov-cl1 trans-04">
            Blog
        </a>
    </div>
</div>
<section class="bg0 p-t-20 p-b-60" ng-controller="PostController">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    <!-- Load posst -->
                    <div id="pageing-post"></div>
                    <!-- Pagination -->
                    <div class="panel-footer">
                        <ul class="flex-l-m flex-w w-full p-t-10 m-lr--7 pager">
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
                                    <
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
                                    >
                                </a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Pagination -->
                    @*<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                            <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
                                1
                            </a>

                            <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
                                2
                            </a>
                        </div>*@
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    <div class="bor17 of-hidden pos-relative">
                        <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search">

                        <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>

                    @Html.Action("_viewPostCategory", "PostCategory")

                    <div class="p-t-65">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Featured Products
                        </h4>

                        <ul>
                            <li class="flex-w flex-t p-b-30" ng-repeat="p in posts">
                                <a href="/Product/Details/{{p.ID}}" class="wrao-pic-w hov-ovelay1 m-r-20" style="width:80px;">
                                    <img ng-src="{{p.Image}}" alt="PRODUCT" style="max-width:80px;">
                                </a>

                                <div class="size-215 flex-col-t p-t-8">
                                    <a href="/Product/Details/{{p.ID}}" class="stext-116 cl8 hov-cl1 trans-04">
                                        {{p.Name}}
                                    </a>

                                    <span class="stext-116 cl6 p-t-20">
                                        ${{p.Price}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-20">
                            Archive
                        </h4>

                        <ul>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        July 2018
                                    </span>

                                    <span>
                                        (9)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        June 2018
                                    </span>

                                    <span>
                                        (39)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        May 2018
                                    </span>

                                    <span>
                                        (29)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        April  2018
                                    </span>

                                    <span>
                                        (35)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        March 2018
                                    </span>

                                    <span>
                                        (22)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        February 2018
                                    </span>

                                    <span>
                                        (32)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        January 2018
                                    </span>

                                    <span>
                                        (21)
                                    </span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        December 2017
                                    </span>

                                    <span>
                                        (26)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="p-t-50">
                        <h4 class="mtext-112 cl2 p-b-27">
                            Tags
                        </h4>

                        <div class="flex-w m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Fashion
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Lifestyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Denim
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Streetstyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Crafts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    pageNo = 0;
    pageSize = 3;
    pageCount = 5;
    function loadPage() {
        $.ajax({
            url: "/Post/GetListPostPaging",
            data: { PageNo: pageNo, PageSize: pageSize },
            success: function (response) {
                $("#pageing-post").html(response);
            }
        });
    }
    loadPage();
    $(function () {
        $.ajax({
            url: "/Post/GetPagePostCount",
            data: { PageSize: pageSize },
            success: function (response) {
                pageCount = response;
            }
        });

        loadPage();

        $(".pager a:eq(0)").click(function () {
            pageNo = 0;
            loadPage();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

        $(".pager a:eq(1)").click(function () {
            if (pageNo > 0) {
                pageNo--;
                loadPage();
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            return false;
        });

        $(".pager a:eq(2)").click(function () {
            if (pageNo < pageCount - 1) {
                pageNo++;
                loadPage();
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            return false;
        });

        $(".pager a:eq(3)").click(function () {
            pageNo = pageCount - 1;
            loadPage();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    });
</script>