<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Email Config-->
  <add key="FromEmailAddress" value="aledale.online01@gmail.com" />
  <add key="FromEmailDisplayName" value="New Order" />
  <add key="FromEmailPassword" value="aledale123456" />
  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="EnabledSSL" value="true" />
  <add key="ToEmailAddress" value="aledale.online01@gmail.com" />
  <!--Facebook App Info-->
  <add key="FbAppId" value="1893282497375694" />
  <add key="FbAppSecret" value="461ed9494c2961e892da9de7a7ffaa5a" />
</appSettings>