.logo-main {
    color: inherit;
    height: 50px;
    font-size: 2.5rem;
    line-height: 31px;
    padding: 0.625rem 10px;
    font-family: 'Cookie', cursive;
}

    .logo-main:hover {
        color: inherit;
    }

.transition-effect {
    opacity: 0;
}

@keyframes contentFromTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes contentFromBottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes contentFromLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

/*Effect page*/
@keyframes contentFromRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

.effectTop {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromTop;
}

.effectBottom {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromBottom;
}

.effectLeft {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromLeft;
}

.effectRight {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromRight;
}

.item-coz {
    position: relative;
    left: 0;
    top: 0;
}

/*-------Color-------*/

.Black {
    color: #222;
}

.Blue {
    color: #4272d7;
}

.Grey {
    color: #b3b3b3;
}

.Green {
    color: #00ad5f;
}

.Red {
    color: #fa4251;
}

.White {
    color: white;
}
