.logo-main {
    color: inherit;
    height: 50px;
    font-size: 2.5rem;
    line-height: 31px;
    padding: 0.625rem 10px;
    font-family: 'Cookie', cursive;
}

    .logo-main:hover {
        color: inherit;
    }

.transition-effect {
    opacity: 0;
}

.col-xs-6 {
    width: 50% !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

/*effect*/
@keyframes contentFromTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes contentFromBottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes contentFromLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

/*Effect page*/
@keyframes contentFromRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

.effectTop {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromTop;
}

.effectBottom {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromBottom;
}

.effectLeft {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromLeft;
}

.effectRight {
    opacity: 1;
    animation: 0.8s ease-out 0s 1 contentFromRight;
}

.item-coz {
    position: relative;
    left: 0;
    top: 0;
}

/*-------Color-------*/

.Black {
    color: #222;
}

.Blue {
    color: #4272d7;
}

.Grey {
    color: #b3b3b3;
}

.Green {
    color: #00ad5f;
}

.Red {
    color: #fa4251;
}

.White {
    color: white;
}

.ng-enter {
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}

a.filter-link.stext-106.trans-04 {
    cursor: pointer;
}

.child-menu > li:hover {
    cursor: pointer;
}

.sub-menu > li:hover {
    color: #6c7ae0;
}

.child-menu {
    list-style-type: none;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

    .child-menu > li {
        display: block;
        position: relative;
        padding: 20px 10px 20px 0px;
        margin: 0px 4px 0px 14px;
    }

        .child-menu > li > a {
            font-family: Roboto,Helvetica,Arial,sans-serif;
            font-size: 16px;
            color: #333;
            padding: 5px 0px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
        }

        .child-menu > li:hover > a {
            text-decoration: none;
            color: #6c7ae0;
        }

        .child-menu > li > .sub-menu {
            top: 100%;
            left: 0;
        }

        .child-menu > li:hover > .sub-menu {
            visibility: visible;
            opacity: 1;
            z-index: 100;
        }

        .child-menu > li.active-menu > a {
            color: #6c7ae0;
        }

@media (max-width: 1300px) {
    .child-menu {
        display: contents;
    }
}


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/*icon image*/

#imgSale > img {
    position: absolute;
    top: 0px;
    right: 2px;
}

#imgSale-detail {
    position: absolute;
    top: 15px;
}

    #imgSale-detail > img {
        position: absolute;
        left: 223px;
    }

#imgHot {
    position: absolute;
    top: -10px;
}

    #imgHot > img {
        width: 80px;
        position: absolute;
        left: 200px;
    }

/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
