<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Post</h4>
        <p class="card-category">Complete</p>
    </div>
    <div class="card-body">
        <form class="form-horizontal" novalidate name="frmEditPost" role="form" ng-submit="EditPost()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="name">
                        Post Name
                        <span ng-hide="frmEditPost.name.$error.maxlength" ng-show="frmEditPost.name.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-change="GetSeoTitle()" ng-model="post.Name" name="name" required placeholder="Nhập tiêu đề bài viết...">
                </div>
                <div class="form-group col-md-4">
                    <label for="nameVN">
                        Post Name VN
                        <span ng-hide="frmEditPost.nameVN.$error.maxlength" ng-show="frmEditPost.nameVN.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-model="post.NameVN" name="nameVN" required placeholder="Nhập tiêu đề bài viết...">
                </div>
                <div class="form-group col-md-4">
                    <label for="nameFr">
                        Post Name Frank
                        <span ng-hide="frmEditPost.nameFr.$error.maxlength" ng-show="frmEditPost.nameFr.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-model="post.NameFr" name="nameFr" required placeholder="Nhập tiêu đề bài viết...">
                </div>
                <div class="form-group col-md-3" style="display:none;">
                    <label for="alias">
                        SeoTitle
                        <span class="text-danger" ng-show="frmEditPost.alias.$invalid"> *</span>
                    </label>
                    <input type="text" required placeholder="Nhập tiêu đề SEO..." class="text-control" ng-model="post.Alias" name="alias">
                </div>
                <div class="form-group col-md-4">
                    <label for="categoryID">Danh mục</label>
                    <select name="categoryID" ng-model="post.CategoryID" ng-options="option.ID as option.Name for option in parentCategories" class="custom-select"></select>
                    <input type="hidden" name="categoryID" ng-model="post.CategoryID" />
                </div>
                <div class="form-group col-md-4">
                    <label for="image">
                        Image
                        <span ng-show="frmEditPost.image.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-model="post.Image" name="image" required>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImage()">Upload</button>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="imageMore">
                        MoreImages
                    </label>
                    <ul class="nav">
                        <li class="nav-item" ng-repeat="img in moreImages">
                            <img ng-src="{{img}}" class="img-content" style="width:4.5em" />
                        </li>
                    </ul>
                    <input type="text" class="text-control" ng-model="post.ImageMore" name="imageMore" style="display:none">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImageMore()">Upload</button>
                    </div>
                </div>
                <!--<div class="form-group col-md-6">
                    <label for="metaKeyword">
                        MetaKeyword
                        <span ng-show="frmEditPost.metaKeyword.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" required placeholder="Nhập Meta Keyword..." class="text-control" ng-model="post.MetaKeyword" name="metaKeyword">
                </div>
                <div class="form-group col-md-6">
                    <label for="metaDescription">
                        MetaDescription
                    </label>
                    <input type="text" placeholder="Nhập Meta Description..." ng-maxlength="600" class="text-control" ng-model="post.MetaDescription" name="metaDescription" />
                    <span class="text-danger" ng-show="frmEditPost.metaDescription.$error.maxlength">Nội dung không được quá 600 ký tự</span>
                </div>-->
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <textarea placeholder="Nội dung..." class="text-control" ckeditor="editorOptions" ng-model="post.Description" name="description"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="descriptionVN">Description VN</label>
                    <textarea placeholder="Nội dung..." class="text-control" ckeditor="editorOptions" ng-model="post.DescriptionVN" name="descriptionVN"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="descriptionFr">Description Fr</label>
                    <textarea placeholder="Nội dung..." class="text-control" ckeditor="editorOptions" ng-model="post.DescriptionFr" name="descriptionFr"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="status" ng-checked="post.Status" ng-model="post.Status"> Active Post
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="homeFlag" ng-checked="post.HomeFlag" ng-model="post.HomeFlag"> Show Home
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="hotFlag" ng-checked="post.HotFlag" ng-model="post.HotFlag"> Hot Post
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <button class="btn btn-danger btn-sm pull-left" ui-sref="posts"><i class="fa fa-ban"></i> Back</button>
                </div>
                <div class="col col-md-6">
                    <button type="submit" ng-disabled="frmEditPost.$invalid" class="btn btn-primary btn-sm pull-right"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>