<style>
    .padding-check {
        padding: 7px;
    }

    .input-check {
        margin-top: 7px;
    }

    .form-check {
        margin-top: 15px !important;
    }

    .edit-form-check {
        margin-bottom: 0px !important;
    }

    .form-size {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    #img-more-details:hover {
        cursor: pointer;
    }
</style>
<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">{{'Edit' | translate}}</h4>
        <p class="card-category">{{product.Name}}</p>
    </div>
    <div class="card-body">
        <form class="form-horizontal" novalidate name="frmEditproduct" role="form" ng-submit="EditProduct()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="name">
                                {{'Name' | translate}}
                                <span ng-hide="frmEditproduct.name.$error.maxlength" ng-show="frmEditproduct.name.$invalid" class="text-danger"> *</span>
                            </label>
                            <input type="text" class="text-control" ng-change="GetSeoTitle()" ng-model="product.Name" ng-maxlength="40" name="name" required placeholder="{{'Name' | translate}}...">
                        </div>
                        <div class="form-group col-md-4" style="display:none">
                            <label for="alias">
                                SeoTitle
                                <span class="text-danger" ng-show="frmEditproduct.alias.$invalid"> *</span>
                            </label>
                            <input type="text" required placeholder="Nhập tiêu đề SEO..." class="text-control" ng-model="product.Alias" name="alias">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="nameVN">
                                {{'NameVN' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.nameVN.$invalid"> *</span>
                            </label>
                            <input type="text" class="text-control" ng-model="product.NameVN" ng-maxlength="40" name="nameVN" required placeholder="{{'NameVN' | translate}}...">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="nameFr">
                                {{'NameFr' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.nameFr.$invalid"> *</span>
                            </label>
                            <input type="text" class="text-control" ng-model="product.NameFr" ng-maxlength="40" name="nameFr" required placeholder="{{'NameFr' | translate}}...">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="code">
                                {{'Code' | translate}}
                            </label>
                            <input type="text" required placeholder="{{'Code' | translate}}..." class="text-control" ng-model="product.Code" name="code" readonly="readonly">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="parentId">{{'Type' | translate}}</label>
                            <select name="categoryID" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in categories" class="custom-select"></select>
                            <input type="hidden" name="categoryID" ng-model="product.CategoryID" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="promotionPrice">
                                {{'PromotionPrice' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.promotionPrice.$invalid"> *</span>
                            </label>
                            <input type="number" required placeholder="{{'PromotionPrice' | translate}}..." class="text-control" min="0" max="100" maxlength="3" ng-model="product.PromotionPrice" name="promotionPrice">
                        </div>
                        <!--<div class="form-group col-md-4">
                            <label for="tags">
                                Tags
                                <span ng-show="frmEditproduct.tags.$invalid" class="text-danger"> *</span>
                            </label>
                            <input type="text" class="text-control" ng-model="product.Tags" name="tags" placeholder="Nhập nhãn hiệu...">
                        </div>-->
                        <!--<div class="form-group col-md-6">
                            <label for="quantity">
                                Quantity
                                <span ng-show="frmEditproduct.quantity.$invalid" class="text-danger"> *</span>
                            </label>
                            <input type="number" required class="text-control" min="0" ng-model="product.Quantity" name="quantity" placeholder="Nhập số lượng...">
                        </div>-->
                        <div class="form-group col-md-3">
                            <label for="price">
                                {{'Price' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.price.$invalid"> *</span>
                            </label>
                            <input type="number" required placeholder="{{'Price' | translate}}..." class="text-control" min="0" ng-model="product.Price" ng-change="changePrice()" name="price">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="scale">
                                {{'Scale' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.scale.$invalid"> *</span>
                            </label>
                            <input type="number" required placeholder="{{'Scale' | translate}}..." class="text-control" min="0" ng-model="product.Scale" ng-change="changeScale()" name="scale">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="priceVN">
                                {{'PriceVN' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.priceVN.$invalid"> *</span>
                            </label>
                            <input type="number" required placeholder="{{'PriceVN' | translate}}..." class="text-control" readonly="readonly" min="0" ng-model="product.PriceVN" name="priceVN">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="priceFr">
                                {{'PriceFr' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.priceFr.$invalid"> *</span>
                            </label>
                            <input type="number" required placeholder="{{'PriceFr' | translate}}..." class="text-control" min="0" ng-model="product.PriceFr" name="priceFr">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="composition">
                                {{'Composition' | translate}}
                            </label>
                            <input type="text" class="text-control" ng-model="product.Composition" name="composition" placeholder="{{'Composition' | translate}}...">
                        </div>
                        <!--<div class="form-group col-md-6">
                            <label for="warranty">
                                {{'Warranty' | translate}}
                                <span class="text-danger" ng-show="frmEditproduct.warranty.$invalid"> *</span>
                            </label>
                            <input type="number" class="text-control" min="0" max="48" maxlength="3" ng-model="product.Warranty" name="warranty" placeholder="month" required>
                        </div>-->
                        <!--<div class="form-group col-md-6">
                            <label for="metaKeyword">
                                MetaKeyword
                                <span ng-show="frmEditproduct.metaKeyword.$invalid" class="text-danger"> *</span>
                            </label>
                            <input type="text" required placeholder="Nhập Meta Keyword..." class="text-control" ng-model="product.MetaKeyword" name="metaKeyword">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="metaDescription">
                                MetaDescription
                            </label>
                            <input type="text" placeholder="Nhập Meta Description..." ng-maxlength="600" class="text-control" ng-model="product.MetaDescription" name="metaDescription" />
                            <span class="text-danger" ng-show="frmEditproduct.metaDescription.$error.maxlength">Nội dung không được quá 600 ký tự</span>
                        </div>-->
                        <div class="form-group col-md-6">
                            <label for="viewCount">
                                {{'View' | translate}}
                            </label>
                            <input type="number" class="text-control" min="0" value="1" name="viewCount" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="image">
                                {{'Img' | translate}}
                                <span ng-show="frmEditproduct.image.$invalid" class="text-danger"> *</span>
                            </label>
                            <input type="text" class="text-control" ng-model="product.Image" name="image" required>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImage()">Upload</button>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="imageMore">
                                {{'MoreImg' | translate}}
                            </label>
                            <ul class="nav">
                                <li class="nav-item" ng-repeat="img in moreImages">
                                    <img ng-src="{{img}}" id="img-more-details" class="img-content" style="width:4.5em" ng-click="RemoveImgMore(img, $index)" />
                                </li>
                            </ul>
                            <input type="text" class="text-control" ng-model="product.ImageMore" name="imageMore" style="display:none">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImageMore()">Upload</button>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">{{'Description' | translate}}</label>
                            <textarea placeholder="{{'Description' | translate}}..." class="text-control" ckeditor="editorOptions" ng-maxlength="600" ng-model="product.Content" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="row form-size" style="margin-bottom:10px;">
                                <div class="col-md-7">
                                    <div class="form-check edit-form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" ng-model="selectAllColor" ng-click="toggleAllColor()"> {{'ColorList' | translate}}
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="color in listColor">
                                <div class="row form-size">
                                    <div class="col-md-4">
                                        <div class="form-check edit-form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="chkColor" ng-checked="selectAllColor" data-id="{{color.ID}}"> {{color.Name}}
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8 input-check">
                                        <input type="number" max="300" min="0" placeholder="{{'Quantity' | translate}}..." class="text-control" name="quantity" data-quantity="{{color.ID}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row form-size" style="margin-bottom:10px;">
                                <div class="col-md-7">
                                    <div class="form-check edit-form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" ng-model="selectAllSize"> {{'SizeList' | translate}}
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="size in listSize">
                                <div class="row form-size">
                                    <div class="col-md-4">
                                        <div class="form-check edit-form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="chkSize" ng-checked="selectAllSize" data-id="{{size.ID}}"> {{size.Name}}
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-check col-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="status" ng-checked="product.Status" ng-model="product.Status"> {{'Active' | translate}}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="homeFlag" ng-checked="product.HomeFlag" ng-model="product.HomeFlag"> {{'ShowHome' | translate}}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="hotFlag" ng-checked="product.HotFlag" ng-model="product.HotFlag"> {{'Hot' | translate}}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-row ">
                <div class="col col-md-6">
                    <button class="btn btn-danger btn-sm pull-left" ui-sref="products"><i class="fa fa-ban"></i> {{'Back' | translate}}</button>
                </div>
                <div class="col col-md-6">
                    <button type="submit" ng-disabled="frmEditproduct.$invalid" class="btn btn-success btn-sm pull-right"><i class="fa fa-dot-circle-o"></i> {{'Submit' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>