<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/bg2.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block" style="bottom:100px!important;text-align:left !important">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">Your Story Starts With Us.</h1>
                            <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> Watch video
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/bg3.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block" style="bottom:100px!important;text-align:left !important">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">Your Story Starts With Us.</h1>
                            <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> Watch video
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/bg.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block" style="bottom:100px!important;text-align:left !important">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">Your Story Starts With Us.</h1>
                            <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> Watch video
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>