<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />*@
    <link href="https://fonts.googleapis.com/css?family=Cookie|Roboto|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/Content/client/vertical-nav.css" rel="stylesheet" />
    <link href="~/Content/client/material-kit.css" rel="stylesheet" />
    <link href="~/Content/client/Main.css" rel="stylesheet" />
</head>
<body class="profile-page sidebar-collapse">
    <div>
        @RenderBody()
    </div>
    <!--Footer-->
    @Html.Partial("_ViewFooter")
    <!--End Footer-->
</body>
</html>
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/plugins/popper/popper.min.js"></script>
<script src="~/Scripts/plugins/bootstrap/bootstrap-material-design.min.js"></script>
<script src="~/Scripts/plugins/jquery/moment.min.js"></script>
<script src="~/Scripts/plugins/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/plugins/jquery/nouislider.min.js"></script>
<script src="~/Scripts/plugins/jquery/jquery.sharrre.js"></script>
<script src="~/Scripts/client/vertical-nav.js"></script>
<script src="~/Scripts/client/material-kit.min.js"></script>
<script src="~/Scripts/client/Main.js"></script>