<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1893282497375694" />
    @*<link rel="icon" type="image/png" href="~/img/client/icons/favicon.png" />*@
    <link href="https://fonts.googleapis.com/css?family=Cookie|Roboto|Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/MagnificPopup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link href="~/Content/plugins/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/client/util.css" rel="stylesheet" />
    <link href="~/Content/client/main-default.css" rel="stylesheet" />
    <link href="~/Content/client/Main.css" rel="stylesheet" />
</head>

<body class="animsition" ng-app="app_client">
    <!-- Header -->
    @{Html.RenderAction("_viewHeader", "Client");}
    <!--Main-->
    @RenderBody()
    <!-- Footer -->
    @*@Html.Partial("_viewFooter")*@
    @{Html.RenderAction("_viewFooter", "Client");}
    <!--Details-->
    <div id="view-details"></div>
    <!--Cart-->
    @{Html.RenderAction("_viewCart", "Client");}
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <div id="fb-root"></div>
</body>
</html>

<script src="~/Assets/client/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/plugins/jquery/jquery-ui.js"></script>
<script src="~/Scripts/plugins/jquery/jquery.zoom.min.js"></script>
<script src="~/Assets/client/vendor/animsition/js/animsition.min.js"></script>
<script src="~/Assets/client/vendor/bootstrap/js/popper.js"></script>
<script src="~/Assets/client/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/client/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<script src="~/Assets/client/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Assets/client/vendor/daterangepicker/daterangepicker.js"></script>
<script src="~/Assets/client/vendor/slick/slick.min.js"></script>
<script src="~/Scripts/client/slick-custom.js"></script>
<script src="~/Assets/client/vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<script src="~/Assets/client/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<script src="~/Assets/client/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="~/Assets/client/vendor/sweetalert/sweetalert.min.js"></script>
<script src="~/Assets/client/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        });
    });
</script>
<script src="~/Scripts/client/main-default.js"></script>
<script src="~/Scripts/plugins/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<script src="~/Scripts/client/Main.js"></script>
<script src="~/Scripts/client/shopping-cart.js"></script>
<script src="~/Scripts/client/main-module.js"></script>
<script>
    $("#changeLang[data-lang]").click(function () {
        var lang = $(this).attr("data-lang");
        //tinh toan thoi gian cooki ton tai
        var expires = new Date();
        expires.setMonth(expires.getMonth() + 1);
        document.cookie = "Lang=" + lang + ";expires=" + expires.toGMTString() + ";path=/";
        location.reload(); // khi goi reload cooki se dc day len server
    });
    //function Autocomplete
    function Autocomplete(html, url) {
        $(html).autocomplete({
            minLength: 0,
            source: function (request, response) {
                $.ajax({
                    url: url,
                    dataType: "JSON",
                    data: {
                        term: request.term
                    },
                    success: function (res) {
                        response(res.data);
                    }
                });
            },
            focus: function (event, ui) {
                $(html).val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $(html).val(ui.item.label);
                return false;
            }
        });
    }
    Autocomplete("#txt_Keyword", "/Product/ListNameProduct");
    Autocomplete("#txt_KeywordProductCategory", "/Product/ListNameProduct");
    Autocomplete("#txt_KeywordProductSale", "/Product/ListNameProduct");
    Autocomplete("#txt_KeywordProductNew", "/Product/ListNameProduct");
</script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=198953267200135&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>