<section class="section transition-effect" id="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="card-title">
                                <a href="#pablo">About Us</a>
                            </h2>
                            <h4 class="card-title">We Building things</h4>
                            <p class="card-description">
                                This describes what we do and what is our mission. At right you can see the awesome people behind. Lorem ipsum magicum dolor sit amet, consectetur adipiscing elit. Maecenas a sem ultrices neque vehicula fermentum a sit amet nulla.
                            </p>
                            <a href="#pablo"> Read More </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#pablito">
                                <img class="img-raised img-fluid" src="https://images.pexels.com/photos/167703/pexels-photo-167703.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>