@*<section class="section" style="background-image: url(../../img/client/city-profile.jpg)">*@
<section class="section">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title text-center">Category</h2>
        <ul class="nav nav-pills nav-pills-rose">
            <li class="nav-item"><a class="nav-link active" href="#cate1" data-toggle="tab">Man</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate2" data-toggle="tab">Women</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate3" data-toggle="tab">Girl</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate4" data-toggle="tab">Student</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate5" data-toggle="tab">Teacher</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate6" data-toggle="tab">Company</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate7" data-toggle="tab">House</a></li>
            <li class="nav-item"><a class="nav-link" href="#cate8" data-toggle="tab">Beach</a></li>
        </ul>
    </div>
    <div class="col-md-12 ml-auto mr-auto">
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="cate1">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate2">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate4">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate5">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate6">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate7">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cate8">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/356185/pexels-photo-356185.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="https://images.pexels.com/photos/415263/pexels-photo-415263.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
    </div>
</section>
