<div class="section transition-effect" style="background-color:#f7f7f7" id="section2">
    <div class="container">
        <h2 class="title text-center">Top Product</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="hoverEffect section2_Left">
                    <img class="img-raised img-fluid" src="https://images.pexels.com/photos/206434/pexels-photo-206434.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="overlay">
                        <div class="icon-efeect">
                            <h3>Name 1</h3>
                            <p>$200</p>
                            <p><a href="">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hoverEffect section2_Right">
                    <img class="img-raised img-fluid" src="https://images.pexels.com/photos/450212/pexels-photo-450212.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="overlay">
                        <div class="icon-efeect">
                            <h3>Name 2</h3>
                            <p>$200</p>
                            <p><a href="">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="hoverEffect section2_Left">
                    <img class="img-raised img-fluid" src="https://images.pexels.com/photos/1144834/pexels-photo-1144834.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="overlay">
                        <div class="icon-efeect">
                            <h3>Name 3</h3>
                            <p>$200</p>
                            <p><a href="">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hoverEffect section2_Right">
                    <img class="img-raised img-fluid" src="https://images.pexels.com/photos/206434/pexels-photo-206434.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="overlay">
                        <div class="icon-efeect">
                            <h3>Name 4</h3>
                            <p>$200</p>
                            <p><a href="">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>