<section class="section transition-effect" id="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">

                <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                        <!--
                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                        <li class="nav-item">
                            <a class="nav-link active show" href="#work" role="tab" data-toggle="tab" aria-selected="true">
                                <i class="material-icons">palette</i>
                                Work
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#media" role="tab" data-toggle="tab" aria-selected="false">
                                <i class="material-icons">camera</i>
                                Media
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                <i class="material-icons">favorite</i> Favorite
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane work active show" id="work">
                <div class="row">
                    <div class="col-md-7 ml-auto mr-auto ">
                        <h4 class="title">Latest Collections</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <a>
                                    <img class="img-raised rounded img-fluid" src="https://images.pexels.com/photos/794432/pexels-photo-794432.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a>
                                    <img class="img-raised rounded img-fluid" src="https://images.pexels.com/photos/356170/pexels-photo-356170.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                                </a>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <a>
                                    <img class="img-raised rounded img-fluid" src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a>
                                    <img class="img-raised rounded img-fluid" src="https://images.pexels.com/photos/848541/pexels-photo-848541.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 mr-auto ml-auto stats">
                        <h4 class="title">Stats</h4>
                        <ul class="list-unstyled">
                            <li><b>60</b> Products</li>
                            <li><b>4</b> Collections</li>
                            <li><b>331</b> Influencers</li>
                            <li><b>1.2K</b> Likes</li>
                        </ul>
                        <hr>
                        <h4 class="title">Focus</h4>
                        <span class="badge badge-primary">Footwear</span>
                        <span class="badge badge-rose">Luxury</span>
                    </div>

                </div>
            </div>
            <div class="tab-pane text-center gallery" id="media">
                <div class="row">
                    <div class="col-md-3 ml-auto">
                        <img src="~/img/client/examples/mariya-georgieva.jpg" class="rounded">
                        <img src="~/img/client/examples/clem-onojegaw.jpg" class="rounded">
                    </div>
                    <div class="col-md-3 mr-auto">
                        <img src="~/img/client/examples/clem-onojeghuo.jpg" class="rounded">
                        <img src="~/img/client/examples/olu-eletu.jpg" class="rounded">
                        <img src="~/img/client/examples/cynthia-del-rio.jpg" class="rounded">
                    </div>
                </div>
            </div>
            <div class="tab-pane text-center gallery" id="favorite">
                <div class="row">
                    <div class="col-md-3 ml-auto">
                        <img src="~/img/client/examples/olu-eletu.jpg" class="rounded">
                        <img src="~/img/client/examples/clem-onojeghuo.jpg" class="rounded">
                        <img src="~/img/client/examples/cynthia-del-rio.jpg" class="rounded">
                    </div>
                    <div class="col-md-3 mr-auto">
                        <img src="~/img/client/examples/mariya-georgieva.jpg" class="rounded">
                        <img src="~/img/client/examples/clem-onojegaw.jpg" class="rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
