<div id="carousel-main" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-main" data-slide-to="1"></li>
        <li data-target="#carousel-main" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/banner/banner1.jpeg" alt="First slide" />
                <div class="carousel-caption d-none d-md-block text-left">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">BEST IN CLASS.</h1>
                            <h4><i>OUR TREND GUILD FOR PROFESSIONALS</i></h4>
                            <h4>Add style and distinction to your repertoire with a work focused wardrobe that exudes confidence</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> For You
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/banner/banner2.jpeg" alt="Second slide" />
                <div class="carousel-caption d-none d-md-block text-center">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">BEST IN CLASS.</h1>
                            <h4><i>OUR TREND GUILD FOR PROFESSIONALS</i></h4>
                            <h4>Add style and distinction to your repertoire with a work focused wardrobe that exudes confidence</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> For You
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-filter">
                <img class="d-block w-100" src="~/img/client/banner/banner3.jpeg" alt="Third slide" />
                <div class="carousel-caption d-none d-md-block text-right">
                    <div class="page-header" data-parallax="true">
                        <div class="col-md-12">
                            <h1 class="title">BEST IN CLASS.</h1>
                            <h4><i>OUR TREND GUILD FOR PROFESSIONALS</i></h4>
                            <h4>Add style and distinction to your repertoire with a work focused wardrobe that exudes confidence</h4>
                            <br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                                <i class="fa fa-play"></i> For You
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-main" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-main" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>