@using Web.Resources.Product
@using Model.Model
@using Data;
@{
    DBContext db = new DBContext();
}
<header class="header-v2">
    <!-- Header desktop -->
    <div class="container-menu-desktop trans-03">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    <i class="fa fa-phone"></i> +1(514) 995-0553 &nbsp; <i class="fa fa-envelope-square"></i> aledale.online01@gmail.com
                </div>

                <div class="right-top-bar flex-w h-full">

                    <a href="#" id="changeLang" data-lang="en" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a href="#" id="changeLang" data-lang="vi" class="flex-c-m trans-04 p-lr-25">
                        VN
                    </a>

                    @*<a href="#" class="flex-c-m trans-04 p-lr-25">
                            USD
                        </a>*@
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo-main">
                    Adelade
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="label1" data-label1="New">
                            <a href="/Product/NewProduct">New</a>
                        </li>

                        <li>
                            <a href="/ProductCategory/ProductCategoryDetail/0">Shop</a>
                            <ul class="sub-menu">
                                @foreach (ProductCategory c in ViewBag.ParentCategory)
                                {
                                    var Item = db.ProductCategorys.Where(x => x.ParentID == c.ID).ToList();
                                    <li>
                                        <a href="/ProductCategory/ProductCategoryDetail/?name=@c.Name&id=@c.ID">@(Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi" ? c.NameVN : c.Name)</a>
                                        <ul class="sub-menu">
                                            @foreach (var cate in Item)
                                            {
                                                <li>
                                                    <a href="/ProductCategory/ProductCategoryDetail/?name=@cate.Name&id=@cate.ID">@(Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi" ? cate.NameVN : cate.Name)</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li>
                            <a href="/tin-tuc">Blog</a>
                        </li>

                        <li>
                            <a href="/gioi-thieu">About</a>
                        </li>

                        <li>
                            <a href="/lien-he">Contact</a>
                        </li>

                        <li class="label1" data-label1="Hot">
                            <a href="/Product/SaleProduct">Sale</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <a href="/Account/LoginFacebook" class="fs-18 cl2 hov-cl1 trans-04 m-r-26">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="fs-18 cl2 hov-cl1 trans-04 m-r-26">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" class="fs-18 cl2 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart shopping-cart-des" data-notify="@Web.Infrastructure.Core.ShoppingCart.Cart.Count">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="/" class="logo-main">Adelade</a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            <a href="#" class="fs-18 cl2 hov-cl1 trans-04 m-r-26">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="fs-18 cl2 hov-cl1 trans-04 m-r-26">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#" class="fs-18 cl2 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
            </a>
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart shopping-cart-mobi" data-notify="@Web.Infrastructure.Core.ShoppingCart.Cart.Count">
                <i class="zmdi zmdi-shopping-cart"></i>
            </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            <li>
                <div class="left-top-bar">
                    Free shipping for standard order over $100
                </div>
            </li>

            <li>
                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        Help & FAQs
                    </a>

                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        My Account
                    </a>

                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        EN
                    </a>

                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        USD
                    </a>
                </div>
            </li>
        </ul>

        <ul class="main-menu-m">
            <li>
                <a href="/Product/NewProduct">New</a>
            </li>

            <li>
                <a href="/ProductCategory/ProductCategoryDetail/0">Shop</a>
            </li>

            <li>
                <a href="/tin-tuc">Blog</a>
            </li>

            <li>
                <a href="/gioi-thieu">About</a>
            </li>

            <li>
                <a href="/lien-he">Contact</a>
            </li>

            <li>
                <a href="/Product/SaleProduct">Sale</a>
            </li>
        </ul>
    </div>
</header>