<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#section1" data-number="1" class="is-selected">
                <span class="cd-dot"></span>
                <span class="cd-label">About</span>
            </a>
        </li>
        <li>
            <a href="#section2" data-number="2">
                <span class="cd-dot"></span>
                <span class="cd-label">Top Product</span>
            </a>
        </li>
        <li>
            <a href="#section3" data-number="3">
                <span class="cd-dot"></span>
                <span class="cd-label">Last Product</span>
            </a>
        </li>
        <li>
            <a href="#section4" data-number="4">
                <span class="cd-dot"></span>
                <span class="cd-label">Category</span>
            </a>
        </li>
        <li>
            <a href="#sectionContact" data-number="5">
                <span class="cd-dot"></span>
                <span class="cd-label">Contact Us</span>
            </a>
        </li>
    </ul>
</nav>
