<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit</h4>
        <p class="card-category">Complete</p>
    </div>
    <div class="card-body">
        <form class="form-horizontal" novalidate name="frmEditColor" role="form" ng-submit="EditColor()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">
                        Color Name
                        <span ng-hide="frmEditColor.name.$error.maxlength" ng-show="frmEditColor.name.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-change="GetSeoTitle()" ng-model="color.Name" ng-maxlength="40" name="name" required placeholder="Nhập tiêu đề bài viết...">
                    <span ng-show="frmEditColor.name.$error.maxlength" class="text-danger">Bài viết tối đa 40 ký tự</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="nameVN">
                        Color NameVN
                        <span ng-hide="frmEditColor.nameVN.$error.maxlength" ng-show="frmEditColor.nameVN.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="text-control" ng-change="GetSeoTitle()" ng-model="color.NameVN" ng-maxlength="40" nameVN="nameVN" required placeholder="Nhập tiêu đề bài viết...">
                    <span ng-show="frmEditColor.nameVN.$error.maxlength" class="text-danger">Bài viết tối đa 40 ký tự</span>
                </div>
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <textarea placeholder="Nội dung..." class="text-control" ckeditor="editorOptions" ng-maxlength="600" ng-model="color.Description" name="description"></textarea>
                    <span class="text-danger" ng-show="frmEditColor.description.$error.maxlength">Nội dung không được quá 600 ký tự</span>
                </div>
                <div class="form-group col-md-3" style="display:none;">
                    <label for="alias">
                        SeoTitle
                        <span class="text-danger" ng-show="frmEditColor.alias.$invalid"> *</span>
                    </label>
                    <input type="text" required placeholder="Nhập tiêu đề SEO..." class="text-control" ng-model="color.Alias" name="alias">
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <button class="btn btn-danger btn-sm pull-left" ui-sref="product_categories"><i class="fa fa-ban"></i> Back</button>
                </div>
                <div class="col col-md-6">
                    <button type="submit" ng-disabled="frmEditColor.$invalid" class="btn btn-primary btn-sm pull-right"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>