@{
    ViewBag.Title = "SaleProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>
    #page_ProductSale {
        margin-top: 50px;
    }

    .active {
        background-color: grey;
        color: white;
    }

    .bor18:last-child {
        border-bottom: none !important;
    }
</style>
<section class="section-main" id="page_ProductSale" ng-controller="ProductSaleController">
    <div class="container">
        <hr />
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Product
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a class="stext-109 cl8 hov-cl1 trans-04">
            Sale
        </a>

        <hr />
    </div>
    <section class="bg0 p-t-30 p-b-20">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 p-b-80">
                    <div class="side-menu">
                        <div class="bor17 of-hidden pos-relative">
                            <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search" id="txt_KeywordProductSale">

                            <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>

                        <div class="p-t-40">
                            <h4 class="mtext-112 cl2 p-b-33">
                                Categories
                            </h4>

                            <ul ng-repeat="parent in parentCategory" ng-if="parent.ParentID == 0">
                                <li class="bor18">
                                    <button ng-click="btnParent(parent.ID, parent.ParentID)" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                        {{parent.Name}}
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="p-t-40">
                            <h4 class="mtext-112 cl2 p-b-33">
                                Categorie Details
                            </h4>

                            <ul ng-if="childParent.ParentID != 0" ng-repeat="childParent in parentCategory">
                                <li class="bor18">
                                    <button ng-click="btnParent(childParent.ID, childParent.ParentID)" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                        {{childParent.Name}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 p-b-80">
                    <div class="row product-grid">
                        <div class="col-xs-6 col-sm-3 col-md-3" ng-repeat="p in productSales | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" pagin-directive="ngRepeatFinished">
                            <div class="block2-pic hov-img0">

                                <img ng-src="{{p.Image}}" alt="IMG-PRODUCT">
                                <a href="/Product/Details/{{p.ID}}" data-id="{{p.ID}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal">
                                    Quick View
                                </a>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14" style="margin-bottom:40px;">
                                <div class="block2-txt-child1 flex-col-l">

                                    <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{p.Name}}
                                    </a>

                                    <span class="stext-105 cl3">
                                        <span style="text-decoration:line-through">${{p.Price}}</span> - ${{(p.Price - (p.Price * p.PromotionPrice)/100)}} vnđ
                                    </span>
                                </div>
                            </div>
                            <div id="imgSale">
                                <img ng-show="p.PromotionPrice > 0" src="~/img/client/icons/sale.png" />
                            </div>
                        </div>
                        <input style="display:none" type="text" value="8" id="txt_PageSize" />
                        <input style="display:none" type="text" value="0" id="txt_Parent" />
                        <input style="display:none" type="text" value="0" id="txt_Category" />
                    </div>

                    <div class="flex-c-m flex-w w-full p-t-38">
                        <a href class="flex-c-m how-pagination1 trans-04 m-all-7" ng-class="prevPageDisabled()" ng-click="prevPage()"><</a>

                        <a href class="flex-c-m how-pagination1 trans-04 m-all-7" ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">{{n+1}}</a>

                        <a href class="flex-c-m how-pagination1 trans-04 m-all-7" ng-class="nextPageDisabled()" ng-click="nextPage()">></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>