<style>
    .messageStatusGreen {
        color: green;
    }

    .messageStatusRed {
        color: red;
    }
</style>
<!-- MAIN CONTENT-->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input id="txt_search" type="text" class="form-control" ng-model="keyword" ng-keyup="complateKeyWord(keyword)" placeholder="{{'Search' | translate}}...">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary pull-right" ui-sref="add_product_category"><i class="material-icons">add</i></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">{{'ListProductCategory' | translate}}</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th><input name="checkAll" ng-model="checkAll" type="checkbox" /></th>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'Type' | translate}}</th>
                        <th>{{'Categories' | translate}}</th>
                        <!--<th>Thứ tự hiển thị</th>-->
                        <th>{{'CreateDate' | translate}}</th>
                        <th>{{'CreateBy' | translate}}</th>
                        <th>{{'UpdateDate' | translate}}</th>
                        <th>{{'UpdateBy' | translate}}</th>
                        <th>{{'Status' | translate}}</th>
                        <th class="td-actions text-right">
                            {{'Handling' | translate}} <button class="btn btn-danger" id="chk_deleteAll" ng-click="deleteAllProductCategories()"><i class="fa fa-trash"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in productCategories | orderBy: 'CreatedDate':true">
                        <td><input type="checkbox" class="chk_allProductCategories" ng-model="checkAll" ng-checked="checkAll" value="{{item.ID}}" /></td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Type}}</td>
                        <td>{{showParentName(item.ParentID, productCategories)}}</td>
                        <!--<td>{{item.DisplayOrder}}</td>-->
                        <td>{{item.CreatedDate | date:"dd/MM/yyyy"}}</td>
                        <td>{{item.CreatedBy}}</td>
                        <td>{{item.UpdatedDate | date:"dd/MM/yyyy"}}</td>
                        <td>{{item.UpdatedBy}}</td>
                        <td><span ng-class="{'messageStatusRed': item.Status == false,'messageStatusGreen': item.Status == true}">{{item.Status | statusFilter}}</span></td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-success btn-simple" ui-sref="edit_product_category({id:item.ID})">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-simple" ng-click="deleteProductCategory(item.ID)">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <pager-directive class="pull-left" page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductCategories(page)"></pager-directive>
                            <span class="pull-right" style="font-size:15px;">Trang: {{page + 1}} - Tìm thấy: {{totalCount}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->