<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/admin/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/admin/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>ADMIN</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/plugins/toastr.min.css" rel="stylesheet" />
    <link href="~/Assets/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/admin/material-dashboard.css" rel="stylesheet" />
</head>

<body ng-app="default" ng-controller="rootController">
    <div ui-view></div>
</body>

</html>
<!--   Core JS Files   -->
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/plugins/popper/popper.min.js"></script>
<script src="~/Scripts/plugins/bootstrap/bootstrap-material-design.min.js"></script>
<script src="~/Scripts/plugins/jquery/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Scripts/plugins/chart/chartist.min.js"></script>
<script src="~/Scripts/plugins/bootstrap/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/Scripts/admin/material-dashboard.min.js"></script>
<script src="~/Scripts/plugins/angular/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.19/angular-ui-router.js"></script>
<script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
<script src="~/Scripts/plugins/bootbox/bootbox.min.js"></script>
<script src="~/Assets/ckeditor/ckeditor.js"></script>
<script src="~/Assets/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/plugins/bootbox/ngBootbox.js"></script>
<script src="~/Assets/ng-ckeditor/ng-ckeditor.js"></script>
<script src="~/Assets/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="~/Assets/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="~/Scripts/plugins/angular/angular-translate.min.js"></script>
<!-- Main JS -->
<script src="~/app/shared/modules/default.common.js"></script>
<script src="~/app/shared/filter/statusFilter.js"></script>
<script src="~/app/shared/services/apiService.js"></script>
<script src="~/app/shared/directives/pageDirective.js"></script>
<script src="~/app/shared/services/notificationService.js"></script>
<script src="~/app/shared/services/authData.js"></script>
<script src="~/app/shared/services/authenticationService.js"></script>
<script src="~/app/shared/services/loginService.js"></script>
<script src="~/app/shared/services/commonService.js"></script>
<script src="~/app/components/products/controller/products.module.js"></script>
<script src="~/app/components/product_categories/controller/productCategories.module.js"></script>
<script src="~/app/app.js"></script>
<script src="~/app/components/home/controller/rootController.js"></script>
<script src="~/app/components/products/controller/productAddController.js"></script>
<script src="~/app/components/products/controller/productEditController.js"></script>
<script src="~/app/components/products/controller/productListController.js"></script>
<script src="~/app/components/product_categories/controller/productCategoryListController.js"></script>
<script src="~/app/components/product_categories/controller/productCategoryAddController.js"></script>
<script src="~/app/components/product_categories/controller/productCategoryEditController.js"></script>
<script src="~/app/components/home/controller/homeController.js"></script>
<script src="~/app/components/login/controller/loginController.js"></script>
<script src="~/app/components/home/controller/baseController.js"></script>
<script>
    $("a[data-lang]").click(function () {
        var lang = $(this).attr("data-lang");
        //tinh toan thoi gian cooki ton tai
        var expires = new Date();
        expires.setMonth(expires.getMonth() + 1);
        document.cookie = "Lang=" + lang + ";expires=" + expires.toGMTString() + ";path=/";
        location.reload(); // khi goi reload cooki se dc day len server
    });
</script>